{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup themeable
 */
#}
{% if breadcrumb %}
  <nav class="breadcrumb" role="navigation">
    <h2 class="sr-only">{{ 'You are here'|t }}</h2>
    <ol class="breadcrumb">
    {% for item in breadcrumb %}
      {% if loop.last %}
        <li class="active">{{ item }}</li>
      {% else %}
        <li>{{ item }}</li>
      {% endif %}
    {% endfor %}
    </ol>
  </nav>
{% endif %}