<header class="navbar" role="banner">
  <div class="container">
    <div class="navbar-header">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      {% if logo %}
        {% if is_front %}
          <h1>
        {% endif %}
        <a class="navbar-brand" href="{{ front_page }}" title="{{ 'Home'|t }}"><img src="{{ logo }}" alt="{{ 'Home'|t }}">{% if site_name %}{{ site_name }}{% endif %}</a>
        {% if is_front %}
          </h1>
        {% endif %}
      {% elseif site_name %}
        {% if is_front %}
          <h1>
        {% endif %}
        <a href="{{ front_page }}" title="{{ 'Home'|t }}" class="navbar-brand">{{ site_name }}</a>
        {% if is_front %}
          </h1>
        {% endif %}
      {% endif %}
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      {% if main_menu %}
        {{ main_menu }}
      {% endif %}
      {#
      {% if logged_in %}
        <ul class="nav navbar-nav navbar-right">
        {{ l(t('My Account'), 'user') }}
        {{ l(t('Logout'), 'user/logout') }}
        </ul>
      {% else %}
        <ul class="nav navbar-nav navbar-right">
        {{ l(t('Login'), 'user/login', array('attributes' => array('class' => array('large', 'radius', 'button')))) }}
        {{ l(t('Sign Up'), 'user/register', array('attributes' => array('class' => array('large', 'radius', 'success', 'button')))) }}
        </ul>
      {% endif %}
      #}
    </nav>
  </div>
</header>

{% if messages|length > 1 %}
<div class="row">
  <div class="col-xs-12 col-md-12">
    {# @TODO: {{ site_slogan }} #}
    {{ messages }}
  </div>
</div>
{% endif %}

{% if page.help %}
<div class="row">
  <div class="col-xs-12 col-md-12">
    {{ page.help }}
  </div>
</div>
{% endif %}

<div id="content">
  <div class="container">
    <div class="row">
      {% if page.sidebar %}
        <div id="main" class="col-xs-12 col-md-8">
      {% else %}
        <div id="main" class="col-xs-12 col-md-12">
        {% endif %}
        {% if page.highlighted %}
          <div class="highlight">
            {{ page.highlighted }}
          </div>
        {% endif %}
        <a id="main-content"></a>
        {% if breadcrumb %} {{ breadcrumb }} {% endif %}
        {% if title and not is_front %}
          {{ title_prefix }}
          <h1 class="title">{{ title }}</h1>
          {{ title_suffix }}
        {% endif %}

        {% if tabs %}
          {{ tabs }}
          {% if tabs2 %} {{ tabs2 }} {% endif %}
        {% endif %}

        {% if action_links %}
          <ul class="action-links">
            {{ action_links }}
          </ul>
        {% endif %}

        {{ page.content }}

      </div>

      {% if page.sidebar %}
        <div id="sidebar" class="col-xs-12 col-md-4 sidebar">
          {{ page.sidebar }}
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% if page.footer %}
<footer class="row">
  <div class="col-xs-12 col-md-12">
    {{ page.footer }}
  </div>
</footer>
{% endif %}
