{#
/**
 * @file
 * Default theme implementation to <<insert what this file does>>.
 *
 * Available variables:
 *   << explain variables here, if any >>
 *
 * @see template_preprocess()
 * @see bootstrap_preprocess_menu_local_tasks()
 *
 * @ingroup themeable
 */
#}
{% if primary %}
  <nav class="tab" role="navigation">
    <h2 class="sr-only">{{ 'Primary tabs'|t }}</h2>
    <ul class="nav nav-tabs">
    {% for item in primary %}
      {% if item.active %}
        <li class="active">{{ item }}</li>
      {% else %}
        <li>{{ item }}</li>
      {% endif %}
    {% endfor %}
    </ul>
  </nav>
{% endif %}

{% if secondary %}
  <nav class="tab" role="navigation">
    <h2 class="sr-only">{{ 'Secondary tabs'|t }}</h2>
    <ul class="nav nav-tabs">
    {% for item in secondary %}
      {% if item.active %}
        <li class="active">{{ item }}</li>
      {% else %}
        <li>{{ item }}</li>
      {% endif %}
    {% endfor %}
    </ul>
  </nav>
{% endif %}